<%- include header %>

<div>
    &nbsp&nbsp<h1 style="color: #114d29">&nbspAutores</h1>
    <form action="/autores" method="GET" style="margin-top: 30px; margin-left: 20px; margin-right: 20px">
        <div style="text-align: right;">
            <input style="border-radius: 5px; width: 100%" type="text" name="searchAuthor">
            <a href="buscarAutor"><button style="
                background-color: #316d49;
                border: none;
                color: white;
                padding: 5px 13px;
                text-align: center;
            ">Pesquisar</button></a>
        </div>
    </form>
    <div style="text-align: right; margin-left: 20px; margin-right: 22px; margin-top: -15px">
        <a href="cadastroAutor"><button style="
                background-color: #316d49;
                border: none;
                color: white;
                padding: 5px 13px;
                text-align: center;
            ">Adicionar</button></a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Experiência</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% if(resultados) {%>
            <% resultados.forEach(function(resultado){ %>
            <tr>
                <td>
                    <%= resultado.idAuthor %>
                </td>
                <td>
                    <%= resultado.name_ %>
                </td>
                <td>
                    <%= resultado.age %>
                </td>
                <td>
                    <%= resultado.hability %>
                </td>
                <td>
                    <button style="
                        background-color: #316d49;
                        border: none;
                        padding: 5px 13px;
                        text-align: center;"><a href="author/editar/:<%=resultado.idAuthor%>" style="color: white">Editar</a></button>

                    <button style="
                        background-color: #316d49;
                        border: none;
                        padding: 5px 13px;
                        text-align: center;"><a href="author/<%= resultado.idAuthor%>" style="color: white">Remover</a></button>
                </td>
            </tr>
            <% }); %>
            <% } %>
        </tbody>
        </table>
</div>
</body>

</html>