<%- include header %>

<div>
    &nbsp&nbsp<h1 style="color: #114d29">&nbspAutores</h1>
    <form action="/autores" method="POST" style="margin-top: 30px; margin-left: 20px; margin-right: 20px">
        <div style="text-align: right;">
            <input style="border-radius: 5px; width: 100%" type="text" name="searchAuthor">
            <button type="submit" style="
                background-color: #316d49;
                border: none;
                color: white;
                padding: 5px 13px;
                text-align: center;
            ">Pesquisar</button>
        </div>
    </form>
    <div style="text-align: right; margin-left: 20px; margin-right: 22px; margin-top: -15px">
        <a href="cadastroAutor"><button style="
                background-color: #316d49;
                border: none;
                color: white;
                padding: 5px 13px;
                text-align: center;
            ">Adicionar</button></a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Experiência</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% if(autores) {%>
            <% autores.forEach(function(autor){ %>
            <tr>
                <td>
                    <%= autor.idAuthor %>
                </td>
                <td>
                    <%= autor.name_ %>
                </td>
                <td>
                    <%= autor.age %>
                </td>
                <td>
                    <%= autor.hability %>
                </td>
                <td>
                    <button style="
                        background-color: #316d49;
                        border: none;
                        padding: 5px 13px;
                        text-align: center;"><a href="author/editar/:<%=autor.idAuthor%>"
                            style="color: white">Editar</a></button>

                    <button style="
                        background-color: #316d49;
                        border: none;
                        padding: 5px 13px;
                        text-align: center;"><a onclick="alert(<%= autor.idAuthor %>)"
                        style="color: white">Remover</a></button>
                </td>
            </tr>
            <% }); %>
            <% } %>
        </tbody>
    </table>
</div>
<script>
    function alert(id) {
        if (confirm("Está ação também apagará suas receitas")) {
            window.location.href = "author/"+id;
        }
    }
</script>
</body>

</html>